/* This file is for your main application css. */
/* Space out content a bit */


.hedgehog {
  width: 122px;
  height: 102px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/noun_844616_cc.svg");
  background-size: 122px 102px;
  float: left;
}
.tortoise {
  width: 122px;
  height: 102px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/noun_809377_cc.svg");
  background-size: 122px 102px;
  float: left;
}
.title {
  text-align: center;
}
.type-here {
  margin-top: 2em;
}

.text-to-type {
  font-size: 2rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #CCCCCC;
}
.current.text-to-type {
  color: inherit;
}
